<html>
    <head>
        <title>Block {{ id }}</title>
        <link rel="stylesheet" href="style.css">
        <meta charset="UTF-8">

        <style>
            .nav-buttons
            {
                margin: 1em;
            }

            .nav-buttons>form
            {
                display: inline;
            }

            .nav-buttons>.right-button
            {
                float: right;
            }
        </style>
    </head>
    <body>
        <form action="/block" class="nav-buttons">
            <button name="id" value="{{ last_block_id }}">« Last Block</button>
            <button name="id" value="{{ next_block_id }}">Next Block »</button>
            <button name="id" value="{{ top_block_id }}" class="right-button">Latest Block ({{ top_block_id }})</button>
        </form>
        <article>
            <h1>Block {{ id }}</h1>
            <div class="item big">
                <text>Timestamp</text>
                <text>{{ timestamp }}</text>
            </div>
            <div class="item big">
                <text>Winner</text>
                <a href="/wallet?address={{ winner }}">{{ winner }}</a>
            </div>
            <div class="item big">
                <text>Merkle Root</text>
                <text>{{ merkle_root }}</text>
            </div>
            <div class="item big">
                <text>Difficulty</text>
                <text>{{ difficulty }}</text>
            </div>
            <div class="item big">
                <text>pow</text>
                <text>{{ pow }}</text>
            </div>
        </article>

        {{ #each transactions }}
            <article>
                {{> transaction-data this }}
            </article>
        {{ /each}}
    </body>
</html>

