<html>
    <head>
        <title>Block {{ id }}</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <article>
            <h1>Block {{ id }}</h1>
            <div class="item big">
                <text>Timestamp</text>
                <text>{{ timestamp }}</text>
            </div>
            <div class="item big">
                <text>Winner</text>
                <a href="/wallet?address={{ winner }}">{{ winner }}</a>
            </div>
            <div class="item big">
                <text>Difficulty</text>
                <text>{{ difficulty }}</text>
            </div>
            <div class="item big">
                <text>pow</text>
                <text>{{ pow }}</text>
            </div>
        </article>

        {{ #each transactions }}
            <article>
                {{> transaction-data this }}
            </article>
        {{ /each}}
    </body>
</html>

