<html>
    <body>
        <title>Wallet</title>
        <link rel="stylesheet" href="style.css">
    </body>
    <html>
        <article>
            <h1>{{ address }}</h1>
            <div class="item big">
                <text>Balance</text>
                <text>{{ balance }}mb</text>
            </div>
            <div class="item big">
                <text>Transaction Count</text>
                <text>{{ transaction_count }}</text>
            </div>
        </article>

        {{ #each history }}
            <article>
                {{ #with this }}
                    <h2><a href="/transaction?id={{ id }}">{{ id }}</a></h2>
                    <div class="item">
                        <text>Type</text>
                        <text>{{ type }}</text>
                    </div>
                    <div class="item">
                        <text>From</text>
                        <a href="/wallet?address={{ from }}">{{ from }}</a>
                    </div>
                    <div class="item">
                        <text>To</text>
                        <a href="/wallet?address={{ to }}">{{ to }}</a>
                    </div>
                    <div class="item">
                        <text>Amount</text>
                        <text>{{ amount }}mb</text>
                    </div>
                    <div class="item">
                        <text>Fee</text>
                        <text>{{ fee }}mb</text>
                    </div>
                    <div class="item">
                        <text>Block</text>
                        <a href="/block?id={{ block }}">{{ block }}</a>
                    </div>
                {{ /with }}
            </article>
        {{ /each }}
    </html>
</html>
