
body
{
    background-color: #F5F5F5;
}

h1, h2
{
    margin: 0.2em;
    margin-bottom: 0.8em;
}

article
{
    display: block;
    background-color: white;
    border: 1px solid lightblue;
    padding: 1em;
    margin: 1em;
}

.item text:first-child
{
    display: inline-block;
    width: 7em;
    margin-right: 0.5em;
    font-weight: bold;
    text-align: right;
}

.item.big
{
    font-size: 1.5em;
}

.item.big text:first-child
{
    width: 10em;
}

.transaction-data>#input-output
{
    display: flex;
    padding: 0.6em;
}

.transaction-data>#input-output>.column
{
    flex-grow: 1;
}

.io-list
{
    list-style: none;
    margin: 0.1em;
    padding: 0.1em;
}

.io-list>li
{
    position: relative;
    padding: 0.5em;
}

.io-list>li::before
{
    position: absolute;
    content: '';
    background-color: grey;
    width: 100%;
    height: 0.1em;
    top: 0px;
    left: 0px;
}

.io-list>li>#amount
{
    float: right;
}

